In [1]:
import requests
from bs4 import BeautifulSoup  
import pandas as pd

In [2]:
website_url = 'https://countrymusichalloffame.org/hall-of-fame/members/'
response = requests.get(website_url)

response.status_code

200


Start by using either the inspector or by viewing the page source. Can you identify a tag that might be helpful for finding the names of all inductees? Make use of this to create a list containing just the names of each inductee.

In [4]:
Artists = BeautifulSoup(response.content, 'lxml')

In [25]:
Artists_List =[]
for artist in Artists.find_all('h3'):
    print(artist.text)
    Artists_List.append(artist.text)

Roy Acuff
Alabama
Bill Anderson
Eddy Arnold
Chet Atkins
Gene Autry
DeFord Bailey
Bobby Bare
Johnny Bond

In [26]:
print(Artists_List)

['Roy Acuff', 'Alabama', 'Bill Anderson', 'Eddy Arnold', 'Chet Atkins', 'Gene Autry', 'DeFord Bailey', 'Bobby Bare', 'Johnny Bond']

Next, try and find a tag that could be used to find the year that each member was inducted. Extract these into a list. When you do this, be sure to only include the year and not the full text. For example, for Roy Acuff, the list entry should be "1962" and not "Inducted 1962". Double-check that the resulting list has the correct number of elements and is in the same order as your inductees list.

In [42]:
x = [element.text for element in Artists.find_all("div", "vertical-card_content--copy")]

year = []
for element in x:
    year.append(element.strip())

print(year)

['Inducted 1962', 'Inducted 2005', 'Inducted 2001', 'Inducted 1966', 'Inducted 1973', 'Inducted 1969', 'Inducted 2005', 'Inducted 2013', 'Inducted 1999']

In [43]:
year_split = year.split(',')
year_alone = []
for i in year_split:
    temp = i.split()[::-1]
    year_alone.append(temp[0])
print(year_alone)

AttributeError: 'list' object has no attribute 'split'

In [ ]:
test_list = ['1','2','3','4','5','6','7','8','9','10'] 

def split_list(lst, n):  
    for i in range(0, len(lst), n): 
        yield lst[i:i + n] 

n = 3

output = list(split_list(test_list, n)) 
print(output)

In [46]:
year = ['Inducted 1962', 'Inducted 2005', 'Inducted 2001', 'Inducted 1966', 'Inducted 1973', 'Inducted 1969', 'Inducted 2005', 'Inducted 2013', 'Inducted 1999']
def split_list(lst,n):
    for i in range(0,len(lst),n):
        yield lst[i:i+n]

n=1

output =list(split_list(year,n))
print(output)

[['Inducted 1962'], ['Inducted 2005'], ['Inducted 2001'], ['Inducted 1966'], ['Inducted 1973'], ['Inducted 1969'], ['Inducted 2005'], ['Inducted 2013'], ['Inducted 1999']]